<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edgDe">
        <title>Document</title>
        {% load static %}	
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script "text/javescript">
            function OpenWindow(url,w,h)
            {
                var left=Math.round((window.screen.availWidth-w)/2);
                var top=Math.round((window.screen.availHeight-100-h)/2);
                var MyWin=window.open(url, "", "height="+h+", width="+w+",top="+top+",left="+left+", toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no");
            }
        </script>

</head>

<body>
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">

      <!--引用base界面-->
    {% include "base.html" %}
      
    <div class="list-group" style="float: left; width: 200px; margin-left: 330px; margin-right: 20px; height: 600px; margin-top: 120px;">
        <span href="#" disabled class="list-group-item list-group-item-action active" style="border: none; background-color: rgb(214,94,100);">用户中心</span>
        <a href="/users/edit_info/" class="list-group-item list-group-item-action">修改个人信息</a>
        <a href="/users/my_collects/" class="list-group-item list-group-item-action">我的收藏</a>
        <a href="/users/recent_read/" class="list-group-item list-group-item-action">浏览记录</a>
        <a href="/users/personal_comments/" class="list-group-item list-group-item-action">个人评论</a>
        <a href="/books/add/" class="list-group-item list-group-item-action">上传书籍</a>
        <input type="button"  value="测试" onclick=OpenWindow('/users/home/add/',400,500) />

        <a href="/users/logout/" class="list-group-item list-group-item-action">登出账户</a>
    </div>

    <div class="avatar">
        <img width="150px" src="{% static headpic_url %}" alt="">
    </div>

    <div class="info">
        <h2>基本信息</h2>
        <div class="topbar">
            <img class="bgi" src="{% static 'image/home-bg.jpg' %}" alt="">
            <ul>
                <button type="button" class="btn btn-primary">用户名:</button>
                <button type="button" class="btn btn-secondary">{{ user.user_name }}</button>
                <button type="button" class="btn btn-success">书友号:</button>
                <button type="button" class="btn btn-danger">{{ user.user_id }}</button>
                <button type="button" class="btn btn-warning">浏览量:</button>
                <button type="button" class="btn btn-info">{{ view_num}}</button>
                <button type="button" class="btn btn-light">收藏量:</button>
                <button type="button" class="btn btn-dark">{{ collect_num }}</button>
            </ul>
        </div>
    </div>

    <div class="read">
        <h2>最近浏览</h2>
        <ul>
            {% for book in recent_read_book_li|slice:"0:5" %}
            <li><div>
                <a href="/books/{{ book.book_id }}" target="_blank" data-model="jptu" data-opration="jpts_img" title="{{ book.title }}"><img src="{% static book.image_path %}"></a>
                <a href="/books/{{ book.book_id }}" target="_blank" data-model="jptu" data-opration="jpts_txt" title="{{ book.title }}">{{ book.title }}</a>
                <p>{{ book.author }}</p>
                </div>
            </li>
            {% empty %}
            <p>暂无记录</p>
            {% endfor %}
        </ul>
    </div>
    <div id="uploading" class="upload">
        <h2>我的收藏</h2>
        <ul>
            {% for book in collect_book_li|slice:"0:5" %}
            <li><div>
                <a href="/books/{{ book.book_id }}" target="_blank" data-model="jptu" data-opration="jpts_img" title="{{ book.title }}"><img src="{% static book.image_path %}"></a>
                <a href="/books/{{ book.book_id }}" target="_blank" data-model="jptu" data-opration="jpts_txt" title="{{ book.title }}">{{ book.title }}</a>
                <p>{{ book.author }}</p>
                </div>
            </li>
            {% empty %}
            <p>暂无收藏</p>
            {% endfor %}
        </ul>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</body>
</html>